<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
   I am a graduate student in the Department of Electrical and Computer Engineering at UMass Lowell and a member of BIDSLab. I obtained my B.S. and M.S. degrees in Computer Science from the University of Missouri St. Louis. As part of my graduate research, I have developed an array of machine learning and AI tools for image restoration and brain network analysis. My current research is focused on developing and validating deep learning tools for genomic and time-series data analysis. I am chiefly interested in explainable AI models that shed light on genotype-phenotype relationships.
</div>
