<div class="navy-line"></div>
<h1><span data-i18n="skills.my_skills">Publications</span></h1>

<h2 style="margin-left:1em;">Journal Articles</h2>
<ul style="margin-left:4em;">
{% for publications in site.data.index.publications %}
{% if publications.type=="Journal Articles" %}  
    <li>
      <p><span style="font-size:20px;"><strong>{{ publications.name }}</strong></span><br>{% if publications.pub %}<em>{{ publications.pub }}</em><br>{% endif %}{{ publications.auth }}</p>
       <ul>
           {% if publications.paper %}
           <li><a href="{{ publications.paper }} "></i>[Paper]</a>
           {% endif %}
           {% if publications.code %}
           <li><a href="{{ publications.code }} "></i>[Code]</a>
           {% endif %}
           {% if publications.cite %}
            <li><a href="{{ publications.cite }}" ></i>[Cite]</a>
           {% endif %}
       </ul>
     </li>

{% endif %}   
{% endfor %}
</ul>

<h2 style="margin-left:1em;">Conference Articles</h2>
<ul style="margin-left:4em;">
{% for publications in site.data.index.publications %}
{% if publications.type=="Conference Articles" %}  
    <li>
      <p><span style="font-size:20px;"><strong>{{ publications.name }}</strong></span><br>{% if publications.pub %}<em>{{ publications.pub }}</em><br>{% endif %}{{ publications.auth }}</p>
       <ul>
           {% if publications.paper %}
           <li><a href="{{ publications.paper }} "></i>[Paper]</a>
           {% endif %}
           {% if publications.code %}
           <li><a href="{{ publications.code }} "></i>[Code]</a>
           {% endif %}
           {% if publications.cite %}
            <li><a href="{{ publications.cite }}" ></i>[Cite]</a>
           {% endif %}
       </ul>
     </li>
{% endif %}   
{% endfor %}
</ul>

