<h1><span data-i18n="skills.my_skills">Publications</span></h1>

{% for publications in site.data.index.publications %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Bibliography</title>
</head>
<body>
<div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry">Song, Tzu-An, Samadrita Roy Chowdhury, Fan Yang, and Joyita Dutta. “PET Image Super-Resolution Using Generative Adversarial Networks.” <i>Neural Networks</i> 125 (May 1, 2020): 83–91. <a href="https://doi.org/10.1016/j.neunet.2020.01.029">https://doi.org/10.1016/j.neunet.2020.01.029</a>.</div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1016%2Fj.neunet.2020.01.029&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=PET%20image%20super-resolution%20using%20generative%20adversarial%20networks&amp;rft.jtitle=Neural%20Networks&amp;rft.stitle=Neural%20Networks&amp;rft.volume=125&amp;rft.aufirst=Tzu-An&amp;rft.aulast=Song&amp;rft.au=Tzu-An%20Song&amp;rft.au=Samadrita%20Roy%20Chowdhury&amp;rft.au=Fan%20Yang&amp;rft.au=Joyita%20Dutta&amp;rft.date=2020-05-01&amp;rft.pages=83-91&amp;rft.spage=83&amp;rft.epage=91&amp;rft.issn=0893-6080&amp;rft.language=en"></span>
</div>
 
<div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry">Song, Tzu-An, Samadrita Roy Chowdhury, Fan Yang, and Joyita Dutta. “Super-Resolution PET Imaging Using Convolutional Neural Networks.” <i>IEEE Transactions on Computational Imaging</i> 6 (2020): 518–28. <a href="https://doi.org/10.1109/TCI.2020.2964229">paper</a>.</div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1109%2FTCI.2020.2964229&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Super-Resolution%20PET%20Imaging%20Using%20Convolutional%20Neural%20Networks&amp;rft.jtitle=IEEE%20Transactions%20on%20Computational%20Imaging&amp;rft.volume=6&amp;rft.aufirst=Tzu-An&amp;rft.aulast=Song&amp;rft.au=Tzu-An%20Song&amp;rft.au=Samadrita%20Roy%20Chowdhury&amp;rft.au=Fan%20Yang&amp;rft.au=Joyita%20Dutta&amp;rft.date=2020&amp;rft.pages=518-528&amp;rft.spage=518&amp;rft.epage=528&amp;rft.issn=2333-9403"></span>
</div>
    <div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry">Song, Tzu-An, Fan Yang, Samadrita Roy Chowdhury, Kyungsang Kim, Keith A. Johnson, Georges El Fakhri, Quanzheng Li, and Joyita Dutta. “PET Image Deblurring and Super-Resolution With an MR-Based Joint Entropy Prior.” <i>IEEE Transactions on Computational Imaging</i> 5, no. 4 (December 2019): 530–39. <a href="https://doi.org/10.1109/TCI.2019.2913287">https://doi.org/10.1109/TCI.2019.2913287</a>.</div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1109%2FTCI.2019
<div class="csl-bib-body" style="line-height: 1.35; ">
  <div class="csl-entry">Song, T.-A. <i>et al.</i> (2019) ‘Graph Convolutional Neural Networks For Alzheimer’s Disease Classification’, in <i>2019 IEEE 16th International Symposium on Biomedical Imaging (ISBI 2019)</i>. <i>2019 IEEE 16th International Symposium on Biomedical Imaging (ISBI)</i>, Venice, Italy: IEEE, pp. 414–417. doi: <a href="https://doi.org/10.1109/ISBI.2019.8759531">10.1109/ISBI.2019.8759531</a>.</div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1109%2FISBI.2019.8759531&amp;rft_id=urn%3Aisbn%3A978-1-5386-3641-1&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=proceeding&amp;rft.atitle=Graph%20Convolutional%20Neural%20Networks%20For%20Alzheimer%E2%80%99s%20Disease%20Classification&amp;rft.btitle=2019%20IEEE%2016th%20International%20Symposium%20on%20Biomedical%20Imaging%20(ISBI%202019)&amp;rft.place=Venice%2C%20Italy&amp;rft.publisher=IEEE&amp;rft.aufirst=Tzu-An&amp;rft.aulast=Song&amp;rft.au=Tzu-An%20Song&amp;rft.au=Samadrita%20Roy%20Chowdhury&amp;rft.au=Fan%20Yang&amp;rft.au=Heidi%20Jacobs&amp;rft.au=Georges%20El%20Fakhri&amp;rft.au=Quanzheng%20Li&amp;rft.au=Keith%20Johnson&amp;rft.au=Joyita%20Dutta&amp;rft.date=2019-04&amp;rft.pages=414-417&amp;rft.spage=414&amp;rft.epage=417&amp;rft.isbn=978-1-5386-3641-1&amp;rft.language=en"></span>


</html>


</html>

{% endfor %}
